@charset "UTF-8";

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 1
}

:root{
    --cor1: #4C5FD5;
    --cor2: #dadbf1;
    --cor3: #000000;
    --cor4: #fff;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--cor3);
    color: var(--cor4);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

header > p{
    font-size: 12px;
}

header > p > i{
    background-color: var(--cor4);
    color: var(--cor3);
    border: 3px solid var(--cor4);
    border-radius: 6px;
    height: 12px;
    padding: 3px;
    margin-right: 3px;
}



header a{
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px 15px;
    font-size: 12px;
}

a{
    color: white;
    text-decoration: none;
}


a#sign-in{
    background-color: var(--cor1);
    border: 2px solid var(--cor1);
}

a#sign-in:hover{
    background-color: #5f6fd6;
    border: 2px solid #5f6fd6;
}

a#submit:hover{
    background-color: var(--cor4);
    color: var(--cor3);
}

div#searchbar{
    display: flex;
    flex-flow: column;
    background-color: var(--cor2);
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

div#searchbar h1{
    font-size: 4em;
    font-weight: normal;
}

div#searchbar input#isearch{
    margin-top: 15px;
    padding-left: 7px;
    min-width: 600px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 13px;
}

i#arrow{
    transform: translate(-160%, 8%);
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: var(--cor4);
    color: var(--cor3);
    margin: 0px 80px;
}

main > article{
    padding-bottom: 50px;
    flex: 0 0 35%;
}

main > article > div.texto > h5{
    font-size: 1.1em;
    padding-bottom: 18px;
}

main > article > div.texto > summary > a{
    color: var(--cor1);
}

main > article > div.texto > summary > a:hover{
    text-decoration: underline;
}


#arrow-summary{
    transform: translate(-20%, 30%);
    color: var(--cor1);
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-height: 300px;
    background-color: var(--cor3);
    color: var(--cor4);
}

footer div.footer{
    margin: 30px 60px;
}

footer h5{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

footer a{
    font-size: 12px;
}

footer a:hover{
    text-decoration: underline;
}

div.footer p{
    padding-top: 20px;
    font-size: 12px;
}

aside{
    margin: bottom;
    align-self: flex-end;
    padding: 20px;
}

aside > i{
    background-color: var(--cor4);
    color: var(--cor3);
    border: 3px solid var(--cor4);
    border-radius: 6px;
    margin-bottom: 15px;
}

aside > p{
    font-size: 13px;
    padding-bottom: 45px;
}

